/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {
	margin: 0;
	padding: 0;
}

.flexslider .slides {overflow: hidden;} 

.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
	width: 100%;
	height: auto;
	display: block;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
}

.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0; background: #fff; position: relative; zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1; position: relative;}

.carousel li {margin-right: 5px}


/* Direction Nav */

.flex-direction-nav {
	width: 42px; 
	height: 85px; 
	display: inline-block; 
	position: absolute; 
	bottom:26px;
	right: 0px;
	opacity: 1;
	cursor: pointer;
	z-index: 3;
	text-indent: -9999px;
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}

.flex-direction-nav .flex-next {
	display: inline-block;
	position: relative;
	width: 42px; 
	height: 42px;
	background: #167eef;
	float: left;
	margin-top: 1px;
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}

.flex-direction-nav .flex-next:after {
	position: absolute;
	top: 0;
	left: 0;
    content: '\f105';
    font-family: 'FontAwesome';
    font-size: 26px;
    font-weight: 300;
	color: #fff;
	line-height: 42px;
	width: 100%;
	text-align: center;
	text-indent: 0 !important;
}

.flex-direction-nav .flex-prev {
	position: relative;
	display: inline-block;
	width: 42px; 
	height: 42px;
	background: #167eef;
	float: right;
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}

.flex-direction-nav .flex-prev:after {
	position: absolute;
	top: 0;
	left: 0;
    content: '\f104';
    font-family: 'FontAwesome';
    font-size: 26px;
    font-weight: 300;
	color: #fff;
	line-height: 42px;
	width: 100%;
	text-align: center;
	text-indent: 0 !important;
}

.flexslider .flex-next:hover {
	opacity: 0.8;
}
.flexslider .flex-prev:hover {
	opacity: 0.8;
}


/* Control Nav */
.flex-control-nav {width:42px; position: absolute; top: 0px; right: 0px; padding-top: 5px; border: none;}
.flex-control-nav li {margin: 7px 10px; display: block; zoom: 1; *display: inline;}
.flex-control-paging li a { 
	width: 21px;
	height: 21px;
	display: block;
	border: 2px solid #0076f9;
	border-radius: 10px;
	background: none;
	background-color: #fff;
	cursor: pointer;
	text-indent: -9999px;
	color: transparent;
	opacity: 0.3;
}
.flex-control-paging li a:before {
	display: block;
	content: " ";
	width: 13px;
	height: 13px;
	background: transparent;
	border-radius: 10px;
	border: 2px solid #0076f9;
	margin: 2px;
}

.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active {
	opacity: 1;
}

.flex-control-paging li a:hover:before,
.flex-control-paging li a.flex-active:before {
	background: #0076f9;
}

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}


.single .flex-control-nav {right: 0; border: none;}
.single .flex-direction-nav {right: 0; bottom: 0;}

.single-project-page .flex-control-nav {right: 0; border: none;}
.single-project-page .flex-direction-nav {right: 1px; bottom: 26px;}
 

#slider .flex-control-nav { right: -42px; border-top: 1px dotted #636363;}
#slider .flex-direction-nav { bottom:0; right: -42px;}

.wpb_gallery_slides .flex-direction-nav {
	bottom: 0;
}