
/*-------------------------------------------------
 =  Table of Css

 1.Isotope                              
 2.Header                          
 3.General code                   
 4.content - home sections                              
 5.Portfolio pages                           
 6.Blog pages       
 8.Contact page                               
 9.Single post                            
 10.Single Project page                            
 11.Services                           
 12.About page                            
 13.Shop Page                   
 14.Shortcodes                   
 15.Footer
 16.nouislider style (used in priccing range)
 17.Edit Post/Page for Admins
 18.Breadcrumb
 19.Widgets
 20. Visual Composer
 21. Icons
 22. Buttons
 23. Review Post
 24. 404 Not Found
 25. Video Post Format
 26. WP Required Styles
 27. Ajax Loading
 28. Toggle Bar
 29. Promo Box
-------------------------------------------------*/

* {
	font-family: 'Open Sans', sans-serif;
}

/*-------------------------------------------------------*/
/* 1. Isotope filtering
/*-------------------------------------------------------*/
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope, .isotope .isotope-item {/* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:-moz-transform, opacity;
    transition-property:transform, opacity;
}

/*-------------------------------------------------*/
/* =  Header
/*-------------------------------------------------*/

.top-line {
	/* padding: 12px 0; */
	min-height: 45px;
	background: rgba(255,255,255,0.8);
	border-bottom: 1px solid #e4e4e4;
	overflow: hidden;
	transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-webkit-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;
}

.top-line-container {
	padding-top: 12px;
}

.top-line * {
	/* line-height: 0; */
}

.top-line p {
    float: left;
    margin: 0;
}

.top-line p span {
    display: inline-block;
    color: #253135;
    font-size: 13px;
    border-left: 1px solid #dddddd;
    line-height: 16px;
    margin-right: 13px;  
}

.top-line p span i {
    color: #0077f9;
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
    padding: 0 10px;
}

.top-line p span a.header-contact-link {
	color: #233135;
	text-decoration: none;
}

.top-line .search-header-form {
	border-radius: 13px;
	background: #fff;
	padding-left: 0;
	padding-right: 0;
	margin-right: -35px;
	width: 0;
	opacity: 0;
	max-height: 30px;
	overflow: hidden;
}

/* .top-line .search-header-form.active {
	width: 180px;
	opacity: 1;
} */

.top-line-container p {
	margin-left: 5px;
}

.top-line .search-header-form input {
	width: 0;
	height: 30px;
	padding: 0 5px;
	border: 0;
	line-height: 1.3;
	outline: 0;
}


ul.social-icons {
    float: right;
}

ul.social-icons li {
    display: inline-block;
    margin-left: 10px;
}

ul.social-icons li a {
    display: inline-block;
    margin-bottom: -2px;
    -webkit-transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
    transition: all 0.17s ease-in-out;
}

ul.social-icons li a i {
    font-size: 17px;
    color: #0077f9;
}

ul.social-icons li a:hover {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
}

ul.search-icons {
	margin-top: -5px !important;
	margin-bottom: -5px !important;
	margin-right: 15px !important;
	margin-left: 5px !important;
	width: 26px;
}

ul.no-width {
	width: 0 !important;
}

ul.search-icons li {
	float: left;
}

ul.search-icons .search_topbar {
	margin-top: 5px;
}

header {
    width: 270px;
    position: fixed;
    top: 45px;
    left: 50%;
    margin-left: -570px;
    z-index: 9999;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

header.active, .admin-bar header.active {
    top: 0;
}

/* Shift down header when WP admin bar is a active */
.admin-bar header {
	top: 77px;
}

.header-logo {
    padding: 50px 10px;
    text-align: center;
	background: #222;
    background: rgba(33,33,33,0.9);
}

.header-logo a.logo span {
	font-size: 215%;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

.main-menu > li {
    display: block;
    position: relative;
    text-align: center;
}

.main-menu > li > a {
    display: block;
    background-color: rgba(0,119,249,0.9);
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.03), rgba(255,255,255,.03));
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.03), rgba(255,255,255,.03));
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,.03), rgba(255,255,255,.03));
    background-image: linear-gradient(to top, rgba(0,0,0,.03), rgba(255,255,255,.03));
    position: relative;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    padding: 17px 0 15px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    border-top: 1px solid rgba(56,56,56,0.2);
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
    -webkit-backface-visibility: hidden;
}

li.drop > a span:after {
	top: 2px;
	margin-left: 5px;
	content: '\f105'; 
	font-family: 'FontAwesome';
	font-size: 17px;
	color: #55a4fb;
}

.main-menu > li > a:after {
	position: absolute;
	/* z-index: -1; */
	content: '';
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: rgb(0,119,249);
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.main-menu li a span {
	display: inline-block;
	position: relative;
	z-index: 2;
}

.main-menu > li > a:hover:after {
    width: 100%;
}

.main-menu > li > a.active:after {
    background: none;    
}

.main-menu > li > a.active, 
.main-menu > li.current-menu-item > a,
.main-menu > li.current-menu-parent > a,
.main-menu > li.current-menu-ancestor > a {
    color: #212121;
    background: #ffffff;
}

ul.drop-down {
    position: absolute;
    top: 0;
    width: 220px;
    visibility: hidden\0/;
    opacity: 0;
    z-index: 3;
    text-align: left;
    left: 100%;
    transition: all 0.17s linear;
    -moz-transition: all 0.17s linear;
    -webkit-transition: all 0.17s linear;
    -o-transition: all 0.17s linear;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    -mos-transition: -mos-transform 0.4s, opacity 0.1s 0.3s;
    -o-transition: -o-transform 0.4s, opacity 0.1s 0.3s;
}

li.drop:hover > ul.drop-down {
    visibility: visible;
    opacity: 1;
    -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
      transform: rotateY(0deg);
      -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
      -moz-transition: -moz-transform 0.4s, opacity 0.1s;
      -mos-transition: -mos-transform 0.4s, opacity 0.1s;
      -o-transition: -o-transform 0.4s, opacity 0.1s;
      transition: transform 0.4s, opacity 0.1s;
}

ul.drop-down li {
    border-top: 1px solid #d5d5d5;
    position: relative;
}

ul.drop-down li:last-child {
    border-bottom: 1px solid #d5d5d5;
}

ul.drop-down li a {
    display: block;
    color: #646464;
    font-size: 13px;
    padding: 18px 18px;
    text-decoration: none;
    text-transform: capitalize;
    background: rgba(255,255,255,0.9);
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

ul.drop-down li a:hover {
    background: rgb(255,255,255);
    color: #000;
}

ul.drop-down.level3 li a:hover {
    background: rgba(255,255,255,0.7);
}

ul.drop-down li.drop > a span:after {
	position: relative;
	top: 2px;
	line-height: 0;
	color: #cbcccc;
}

a.elemadded {
    display: none;
    background-color: rgba(0,119,249,0.9);
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.03), rgba(255,255,255,.03));
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.03), rgba(255,255,255,.03));
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,.03), rgba(255,255,255,.03));
    background-image: linear-gradient(to top, rgba(0,0,0,.03), rgba(255,255,255,.03));
    position: relative;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    padding: 17px 0 15px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    border-top: 1px solid rgba(56,56,56,0.2);
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
    -webkit-backface-visibility: hidden;
    text-align: center;
}

/*-------------------------------------------------*/
/* =  General code
/*-------------------------------------------------*/
a, a:hover, a:focus {
	color: #0077f9;
}

table {
	width: 100%;
	margin-bottom: 20px;
}

table thead {
	background-color: #0077f9;
	color: #fff;
}

table tbody tr {
	background-color: #fff;
	border-bottom: 1px solid #e2e2e2;
}

table tbody tr:hover{
	background: #f7f7f7;
}

table thead th, table thead td {
	padding: 10px;
}

table tbody th, table tbody td {
	padding: 10px;
}


ul:not([class]), ol:not([class]) {
	margin-top: 14px;
	margin-bottom: 14px;
}

ul:not([class]) li, ol:not([class]) li {
	line-height: 30px;
	color: #666;
}

ul:not([class]) > li:before {
	position: absolute;
	margin-left: -20px;
	font-family: 'FontAwesome';
	font-size: 14px;
	content: "\f046";
	color: #666;
}

ul[class], .hover-item ul, #slider ul{
	padding: 0;
	margin: 0;
}

ul li {
	list-style: none;
}

ul[class] li, .hover-item ul li {
	line-height: 1.428571429;
}

a {
    text-decoration: none;
}

h1 {
    color: #000000;
    font-size: 38px;
    font-weight: 300;
    margin: 0;    
}

h2 {
    color: #464646;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;    
}

h3 {
    color: #000000;
    font-size: 22px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 22px;
}

h4 {
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}

h5 {
    color: #000000;
    font-size: 15px;
    font-weight: 300;
    margin: 0;
}

p {
    color: #9a9a9a;
    font-size: 13px;
    font-weight: 300;
    /*margin: 0;*/
    line-height: 18px;
}

blockquote {
	margin: 20px 0;
	padding: 0 20px;
	border-left-color: #0077f9;
}

blockquote p {
	line-height: 150%;
	color: #0077f9;
}

a.main-button {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    padding: 12px 35px;
    background: #7ea4f5;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

a.main-button:hover {
    opacity: 0.8;
}

button {
    outline: none !important;
}

img {
	max-width: 100%;
	height: auto;
}

#container {
    position: relative;
    z-index: 3;
    margin-bottom: 50px;
}

#background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
}

#background-container:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/back-pattern.png');
}

#background-container img {
    position: absolute;
    min-width: 1920px;
    top: 0;
    left: 50%;
    margin-left: -960px;
}

/*-------------------------------------------------*/
/* =  content - home sections
/*-------------------------------------------------*/

/*slider*/

#slider {
    background: rgba(255,255,255,0.8);
    padding-right: 42px;
    overflow: hidden;
}

.big_white span {
    font-weight: 600;
}

.modern_medium_light {
    background: #0b7af0;
    border-radius: 26px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -o-border-radius: 26px;
    padding: 20px 40px;
    text-align: center;
    width: 263px;
}

.modern_medium_light i {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 40px;
    margin-bottom: 14px;
}

.large_text span {
    font-weight: bold;
}

.modern_small_text_dark i {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 54px;
    line-height: 54px;
    font-weight: 300;
}

.inner-content {
    padding-left: 270px;
}

.content-sections {
	min-height: 480px;
	padding: 30px 30px 0;
	background: #fff;
}

.content-sections > div {
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 30px;
}

.content-sections > div:last-child {
    border-bottom: 1px solid transparent;
    margin-bottom: 0px;
}

.services-box {
    position: relative;
}

.services-post {
    padding: 10px 0;
    /* margin-bottom: 30px; */
}

.services-post > a {
    position: relative;
    display: inline-block;
    float: left;
    width: 66px;
    height: 66px;
    background: #0076f9;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
    -webkit-backface-visibility: hidden;
}

.services-post > a:after {
    position: absolute;
    content: '';
    width: 66px;
    height: 66px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #0076f9;
    left: 0px;
    top: 0px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
    -webkit-backface-visibility: hidden;
}

.services-post > a:hover {
    transform: scale(1.1) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
    -webkit-backface-visibility: hidden;
}

.services-post > a:hover:after {
    position: absolute;
    content: '';
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border: 3px solid #0076f9;
    left: -7px;
    top: -7px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
    -webkit-backface-visibility: hidden;
}

.services-post > a i {
    font-size: 26px;
    color: #fff;
    display: inline-block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 66px;
}

.services-post-content {
    margin-left: 86px;
    padding-top: 10px;
}

.services-post-content h4 {
    margin-bottom: 3px;
}

.services-post-content .services-title-link {
	text-decoration: none;
}

.work-post {
    overflow: hidden;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    margin-bottom: 30px;
}

.work-post h2 {
    color: #000000;
    font-size: 15px;
    font-weight: 300;
    margin: 0;
}

.work-post-gal {
    position: relative;
}

.work-post-gal img {
    width: 100%;
	margin-bottom: 0;
    -webkit-backface-visibility: hidden;
}

.work-post-content {
    background: #fff;
    padding: 20px;
    border: 1px solid #dbdbdb;
    border-bottom-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-bottom-left-radius: 6px;
    -o-border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
    -o-border-bottom-right-radius: 6px;
}

.work-post-content span {
    display: inline-block;
    color: #4984aa;
    font-style: italic;
    font-size: 12px;
}

.work-post-content a {
	text-decoration: none;
}

.hover-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    background: rgba(0,118,249,0.8);
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -webkit-backface-visibility: hidden;
}

.hover-box a {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transform: scale(0.1);
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -o-transform: scale(0.1);
    -webkit-backface-visibility: hidden;
}

.work-post:hover .hover-box {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-backface-visibility: hidden;
}

.work-post:hover .hover-box a {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-backface-visibility: hidden;
}

.hover-box a:after {
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    background: url('../images/zoom-after.png') center center no-repeat;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

.hover-box a:hover:after {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    opacity: 0;
}

.hover-box a.zoom {
    right: 50%;
    margin-right: 5px;
    background: url('../images/zoom.png') center center no-repeat;
}

.hover-box a.page {
    left: 50%;
    margin-left: 5px;
    background: url('../images/page.png') center center no-repeat;
}

.partners {
    padding-bottom: 35px;
    overflow: hidden;
}

.carousel-control .glyphicon {
    display: none;
}

.carousel-control {
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 25px;
    height: 25px;
    background: none;
    top: -40px;
    font-size: 17px;
    color: #ffffff;
    text-align: center;
    text-shadow: none;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    -o-text-shadow: none;
    opacity: 0.5;
    opacity: 1;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

.carousel-control.left {
    right: 28px;
    left: auto;
    background: rgba(0,118,249,0.3);
}

.carousel-control.left:before {
    font-family: 'FontAwesome';
    content: "\f104";
    position: absolute;
    font-size: 19px;
    color: #fff;
    top: -1px;
    left: 8px;
}

.carousel-control.right {
    right: 0;
    background: rgba(0,118,249,0.3);
}

.carousel-control.right:before {
    font-family: 'FontAwesome';
    content: "\f105";
    position: absolute;
    font-size: 19px;
    color: #fff;
    top: -1px;
    left: 10px;
}

.carousel-control.left:hover {
    background: rgb(0,118,249);
    opacity: 1;
}

.carousel-control.right:hover {
    background: rgb(0,118,249);
    opacity: 1;
}

.carousel li {
	margin-left: 1%;
	margin-right: 0;
	margin-left: 0;
}

.partner-list {
    overflow: hidden;
    padding-bottom: 30px;
}

.partner-list li {
    float: left;
    width: 22%;
    margin-left: 4%;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

.partner-list li:hover {
	opacity: 0.8;
}

.partner-list.grid-6 li {
/* 	width: calc(100% / 6);
	margin-left: 0; */
    float: left;
    width: 15%;
    margin-left: 2%;
}
.partner-list.grid-4 li {
/* 	width: calc(100% / 4);
	margin-left: 0; */
    float: left;
    width: 22%;
    margin-left: 4%;	
}
.partner-list.grid-3 li {
/* 	width: calc(100% / 3);
	margin-left: 0; */
    float: left;
    width: 30%;
    margin-left: 5%;
}
.partner-list.grid-2 li {
/* 	width: calc(100% / 2);
	margin-left: 0; */
    float: left;
    width: 48%;
    margin-left: 4%;
}

.partner-list li:first-child {
    margin-left: 0px;
}
/* 
.clients-section .partner-list img {
    max-width: 90%;
} */

.news-item {
    margin-bottom: 30px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.news-item .inner-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.news-item .inner-item img {
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

.news-item h2 {
	margin: 0;
	margin-bottom: 5px;
	font-size: 140%;
	font-weight: 300;
	line-height: 1.2;
	color: #000000;
}

.news-item h2 a {
	color: #000000;
	text-decoration: none;
}

.news-item p {
    line-height: 22px;
    margin-bottom: 10px;
}

a.read-more {
    display: inline-block;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border: 1px solid #0076f9;
    color: #0076f9;
    padding: 8px 12px;
    background: #fff;
    font-size: 12px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
    text-transform: lowercase;
    text-decoration: none;
}

a.read-more i {
    color: #0076f9;
    font-size: 12px;
    margin-left: 7px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

a.read-more:hover i {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.hover-item {
    position: absolute;
    top: 50%;
    margin-top: -56px;
    left: 0;
}

.hover-item ul li {
    margin-bottom: 5px;
}

.hover-item ul li a {
    display: inline-block;
    color: #fff;
    font-size: 11px;
    padding: 10px;
    margin-left: -100%;
    text-decoration: none;
    background: #117bf1
}

.hover-item ul li a i {
    font-size: 14px;
    color: #fff;
    margin-right: 5px;
}

.hover-item ul li a.autor {
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

.hover-item ul li a.date {
    transition: all 0.29s ease-in-out;
    -moz-transition: all 0.29s ease-in-out;
    -webkit-transition: all 0.29s ease-in-out;
    -o-transition: all 0.29s ease-in-out;
}

.hover-item ul li a.comment-numb {
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.news-item:hover .hover-item ul li a {
    margin-left: 0;
}

.accordion-box {
    padding-bottom: 20px;
}

.accord-elem {
    margin-bottom: 20px;
}

.accord-title {
    padding: 16px 14px;
    border: 1px solid #dbdbdb;
    position: relative;
	cursor: pointer;
}

.accord-title h5 {
    padding-right: 48px;
	margin-left: 28px;
}

.accord-title h5 i {
    color: #007aff;
    font-size: 20px;
    vertical-align: middle;
    margin-right: 12px;
	margin-left: -28px;
}

a.accord-link {
    display: inline-block;
    position: absolute;
    width: 46px;
    height: 100%;
    top: 0;
    right: 0;
    border-left: 1px solid #dbdbdb;
    background: url('../images/plus.png') center center no-repeat;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.accord-elem.active a.accord-link {
    background: url('../images/minus.png') center center no-repeat;
}

a.accord-link.opened {
    background: url('../images/minus.png') center center no-repeat;
}

.accord-content {
    display: none;
    padding: 22px;
    border: 1px solid #dbdbdb;
    border-top: none;
    overflow: hidden;
}

.accord-content span.image-content {
    display: inline-block;
    float: left;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 22px;
    background: #007aff;
}

.accord-content span.image-content i {
    color: #fff;
    font-size: 30px;
    text-align: center;
    width: 100%;
    line-height: 68px;
    vertical-align: middle;
}

.accord-elem.active .accord-content {
    display: block;
}

.tab-content-box {
    text-align: center;
    padding: 60px;
    border: 1px solid #dbdbdb;    
}

.tab-box {
    padding: 50px 60px;
    border: 1px solid #dbdbdb;
    min-height: 200px;
    overflow: hidden;
}

.tab-content {
    display: none;
    overflow: hidden;
}

/* .tab-content img {
    float: left;
    width: 254px;
} */

.tab-content p {
    margin-bottom: 12px;
}

/* .tab-content p span {
    color: #007aff;
    font-weight: bold;
} */

.tab-content .content-tab-elem {
   margin-left: 290px;
}

.tab-content:first-child {
    display: block;
}

ul.tab-links {
    border: 1px solid #dbdbdb; 
    border-top: none;
    overflow: hidden;
    margin-bottom: 40px;
}

ul.tab-links li {
	float: left;
	/* min-width: 82.7px; */
	width: auto;
	text-align: center;
	border-left: 1px solid #dbdbdb; 
}

ul.tab-links li:first-child {
    border-left: none; 
}

ul.tab-links li a {
    display: inline-block;
    width: 100%;
    padding: 12px 5px;
    text-align: center;
    color: #000;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    background: #fff;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.iconned-tabs ul.tab-links li a {
    width: 100.1%;
}

ul.tab-links li a i {
    font-size: 30px;
    color: #007aff;
    display: block;text-align: center;
    margin-bottom: 6px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

ul.tab-links li a:hover,
ul.tab-links li a.active {
    color: #fff;
    background: #007aff;
}

ul.tab-links li a:hover i,
ul.tab-links li a.active i {
    color: #fff;
}

ul.tab-top-nav {
    border: 1px solid #dbdbdb; 
    border-bottom: none;
    overflow: hidden;
    margin-bottom: 0px;
}

/*-------------------------------------------------*/
/* =  Portfolio
/*-------------------------------------------------*/

#page-banner {
	position: relative;
	padding: 41px;
	background: rgba(105,105,105,1);
	background: -moz-linear-gradient(left, rgba(105,105,105,1) 0%, rgba(124,124,124,1) 37%, rgba(159,159,159,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(105,105,105,1)), color-stop(37%, rgba(124,124,124,1)), color-stop(100%, rgba(159,159,159,1)));
	background: -webkit-linear-gradient(left, rgba(105,105,105,1) 0%, rgba(124,124,124,1) 37%, rgba(159,159,159,1) 100%);
	background: -o-linear-gradient(left, rgba(105,105,105,1) 0%, rgba(124,124,124,1) 37%, rgba(159,159,159,1) 100%);
	background: -ms-linear-gradient(left, rgba(105,105,105,1) 0%, rgba(124,124,124,1) 37%, rgba(159,159,159,1) 100%);
	background: linear-gradient(to right, rgba(105,105,105,1) 0%, rgba(124,124,124,1) 37%, rgba(159,159,159,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#696969', endColorstr='#9f9f9f', GradientType=1 );
}

#page-banner h1, #page-banner span {
    color: #fff;
    font-size: 34px;
    text-transform: uppercase;
    line-height: 38px;
}

#page-banner p {
	color: #d4d4d4;
	font-size: 16px;
	font-weight: 300;
	margin: 0;
}

ul.filter {
    margin-bottom: 15px;
    overflow: hidden;
    border: 1px solid #dbdbdb;
}

ul.filter li {
    float: left;
    border-right: 1px solid #dbdbdb;
}

ul.filter li a {
    position: relative;
    display: inline-block;
    color: #7e7e7e;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
    padding: 12px 17px;
    background: #fff;
}

ul.filter li a.active,
ul.filter li a:hover {
    color: #fff;
    background: #0076f9;
}

ul.filter li a.active:after,
ul.filter li a:hover:after {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    z-index: 2;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

ul.filter li a i {
    color: #7e7e7e;
    font-size: 17px;
    margin-right: 10px;
    vertical-align: middle;
}

ul.filter li a.active i,
ul.filter li a:hover i {
    color: #fff;
}

.portfolio-normal-heading {
	margin-bottom: 10px;
	padding-bottom: 15px;
	border-bottom: 1px solid #dbdbdb;
}

.portfolio-container {
    /* width: 840px; */
    width: auto;
    margin-left: -15px;
    margin-bottom: 20px;
}

.portfolio-container .work-post {
    margin: 15px;
}

.no-sidebar .with-4-col .portfolio-container .work-post {
    /* width: 180px; */
	width: 21%;
	width: calc( 24.9% - 30px);
}

.with-sidebar .with-4-col .portfolio-container .work-post {
    /* width: 180px; */
	width: 21%;
	width: calc( 24.9% - 30px);
}

.no-sidebar .with-3-col .portfolio-container .work-post {
    /* width: 250px; */
	width: 30%;
	width: calc( 33.2% - 30px );
}

.with-sidebar .with-3-col .portfolio-container .work-post {
    /* width: 250px; */
	width: 29%;
	width: calc( 33.2% - 30px );
}

.no-sidebar .with-2-col .portfolio-container .work-post {
    /* width: 390px; */
	width: 47%;
	width: calc( 49.9% - 30px );
}

.with-sidebar .with-2-col .portfolio-container .work-post {
    /* width: 390px; */
	width: 46%;
	width: calc( 49.9% - 30px );
}

ul.page-numbers {
    margin-bottom: 38px;
}

ul.page-numbers li {
    display: inline-block;
}

ul.page-numbers li a,
ul.page-numbers li span {
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #f3f3f3;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 13px;
    color: #000;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

ul.page-numbers li a.active,
ul.page-numbers li a:hover,
ul.page-numbers li span {
    background: #007aff;
    color: #fff;
}

/*-------------------------------------------------*/
/* =  Blog
/*-------------------------------------------------*/

.sidebar .widget-side, .footer-widgets, .toggle-widgets, .user-widgets {
	margin-bottom: 30px;
}

.widget_search {
    margin-bottom: 30px;
}

.widget_search input[type="search"] {
    color: #716565;
    font-size: 13px;
    padding: 15px 20px;
    border: 1px solid #dcdcdc;
    width: 100%;
    outline: none;
}

.widget_search input[type="search"]:focus {
    border: 1px solid #007aff;
}

.widget_search button {
    background: #fff;
    border: none;
    float: right;
    margin-top: -35px;
    margin-right: 15px;
    position: relative;
    z-index: 2;
}

.widget_search button i {
    color: #007aff;
    font-size: 18px;
}

.sidebar-widgets .widget > h5, .sidebar-widgets .widget > h4 {
    margin-bottom: 15px;
}

.tabs-widget ul.tab-links {
	border: 0;
	border-left: 1px solid #dbdbdb;
	margin-bottom: 0;
}

.tabs-widget ul.tab-links li {
	border: 1px solid #dbdbdb;
	border-left: 0;
}

.tabs-widget ul.tab-links li a {
    font-size: 13px;
}

.tabs-widget ul.tab-links li a:hover,
.tabs-widget ul.tab-links li a.active {
    background: #fff;
    color: #007aff;
}

.tabs-widget {
    margin-bottom: 30px;
}

.tabs-widget .tab-box {
    padding: 0;
    text-align: left;
    min-height: 20px;
}

.tabs-widget .tab-box .tab-content {
    padding: 20px;
}

.tabs-widget .tab-content ul li {
    overflow: hidden;
    margin-bottom: 16px;
    width: 100%;
}

.tabs-widget .tab-content ul li img {
    float: left;
    width: 45px;
}

.tabs-widget .tab-content ul li h6 {
    line-height: 17px;
    color: #aeaeae;
    font-size: 13px;
    font-weight: 300;
    margin: 0;
    margin-left: 55px;
}

.tabs-widget .tab-content ul li h6 a {
    color: #aeaeae;
    text-decoration: none;
    display: inline-block;
}

.tabs-widget .tab-content ul li h6 a:hover {
    color: #007aff;
}

.accordion-widget {
    margin-bottom: 10px;
}

.accordion-widget .accord-content {
    padding: 18px;
}

.sidebar .text-widget {
    margin-bottom: 20px;
}

.sidebar .textwidget, .footer-widgets .textwidget, .toggle-widgets .textwidget {
	color: #9a9a9a;
	font-size: 13px;
	font-weight: 300;
	margin: 0;
	line-height: 18px;
}

.sidebar .widget_tag_cloud {
	margin-bottom: 20px;
}

ul.tag-widget-list li {
    display: inline-block;
}

.sidebar .tagcloud a, .footer-widgets .tagcloud a, .toggle-widgets .tagcloud a {
	display: inline-block;
	margin-right: 6px;
	margin-bottom: 10px;	
	color: #797979;
	font-size: 85% !important;
	padding: 5px 8px;
	text-decoration: none;
	border: 1px solid #e5e5e5;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-webkit-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;
}

.sidebar .tagcloud a:hover,  .footer-widgets .tagcloud a:hover,  .toggle-widgets .tagcloud a:hover {
	color: #007aff;
	border: 1px solid #007aff;
}

/* Blog and portfolio list */
.tmq-list .posts-list img {
	width: 45px;
	float: left;
}

.tmq-list ul.posts-list li {
	overflow: hidden;
	margin-bottom: 16px;
	width: 100%;
}

.tmq-list .posts-list h6 {
	line-height: 17px;
	color: #aeaeae;
	font-size: 13px;
	font-weight: 300;
	margin: 0;
	margin-left: 55px;
	-webkit-font-smoothing: antialiased;
}

.tmq-list .posts-list h6 a {
	color: #aeaeae;
	text-decoration: none;
	display: inline-block;
}

.tmq-list ul.posts-list li h6 a:hover {
	color: #007aff;
}

/*-------------------------------------------------*/
/* =  Contact
/*-------------------------------------------------*/

.map {
    height: 340px;
    width: 100%;
    margin-bottom: 30px;
}

.wpcf7,
#contact-form {
    overflow: hidden;
    margin-bottom: 35px;
}

.wpcf7 i, 
#contact-form i {
    color: #a8a8a8;
    font-size: 15px;
}

.text-input {
    overflow: hidden;
}

.float-input,
.float-input2 {
    width: 50%;
    float: left;
    padding-right: 7px;
    position: relative;
}

.textarea-input {
    position: relative;
}

.float-input span,
.float-input2 span,
.textarea-input span {
    position: absolute;
    top: 13px;
    left: 14px;
    z-index: 2;
}

.float-input2 span {
    left: 18px;
}

.float-input2 {
    padding-right: 0px;
    padding-left: 7px;
}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"],
.wpcf7 textarea,
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form textarea {
    color: #737373;
    font-size: 13px;
    border: 1px solid #e6e6e6;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    outline: none;
    width: 100%;
    padding: 12px 32px;
    display: block;
    margin-bottom: 10px; 
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out; 
}

.wpcf7 input[type="text"]:focus,
.wpcf7 input[type="email"]:focus,
.wpcf7 input[type="tel"]:focus,
.wpcf7 textarea:focus,
.comment-form input[type="text"]:focus,
.comment-form input[type="email"]:focus,
.comment-form textarea:focus {
    border: 1px solid #007aff; 
}

.wpcf7 textarea {
    height: 110px;
    padding-left: 36px;
}

.wpcf7 input[type="submit"],
.comment-form input[type="submit"] {
    float: right;
    margin-top: 8px;
    color: #fdfdfd;
    font-size: 13px;
    font-weight: 700;
    padding: 13px 20px;
    background: #0076f9;
    text-transform: uppercase;
    border: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.wpcf7 input[type="submit"]:after,
.comment-form input[type="submit"]:after {
	clear: both;
	display: block;
}

.wpcf7 input[type="submit"]:hover,
.comment-form input[type="submit"]:hover {
    opacity: 0.8;
}

.wpcf7 .your-name:before {
	position: relative;
	top: 33px;
	margin-top: -10px !important;
	margin-left: 10px;
	content: '\f007';
	font-family: 'FontAwesome';
	font-size: 14px;
	z-index: 1;
}

.wpcf7 .your-email:before {
	position: relative;
	top: 33px;
	margin-top: -10px !important;
	margin-left: 10px;
	content: '\f0e0';
	font-family: 'FontAwesome';
	font-size: 14px;
	z-index: 1;
}

.wpcf7 .your-subject:before {
	position: relative;
	top: 33px;
	margin-top: -10px !important;
	margin-left: 10px;
	content: '\f14a';
	font-family: 'FontAwesome';
	font-size: 14px;
	z-index: 1;
}

.wpcf7 .your-tel:before {
	position: relative;
	top: 33px;
	margin-top: -10px !important;
	margin-left: 10px;
	content: '\f095';
	font-family: 'FontAwesome';
	font-size: 14px;
	z-index: 1;
}

.wpcf7 .your-message:before {
	position: relative;
	top: 33px;
	margin-top: -10px !important;
	margin-left: 10px;
	content: '\f075';
	font-family: 'FontAwesome';
	font-size: 14px;
	z-index: 1;
}

.wpcf7 .half-left {
	width: calc( 50% - 5px);
	float: left;
	margin-right: 10px;
}

.wpcf7 .half-right {
	width: calc( 50% - 5px);
	float: left;
	margin-right: 0px;
}

div.wpcf7-validation-errors {
	float: left;
	margin: 0;
	border: 1px solid #f7e700;
}

div.wpcf7-mail-sent-ok {
	float: left;
	margin: 0;
	border: 1px solid #398f14;
}

div.wpcf7-mail-sent-ng {
	float: left;
	margin: 0;
	border: 1px solid #ff0000;
}

div.wpcf7-spam-blocked {
	float: left;
	margin: 0;
	border: 1px solid #ffa500;
}

span.wpcf7-form-control-wrap {
	position: inherit;
}

.msg,
.msg2 {
    height:30px;
    font-size:13px;
    float: left;
}

.msg.error,
.msg2.error {
    color:#eb2c06;
}

.msg.success,
.msg2.success {
    color:#008000;
}

/*-------------------------------------------------*/
/* =  Single post
/*-------------------------------------------------*/

.single-post-content {
    margin-bottom: 20px;
    overflow: hidden;
}

.single-post-content img.wp-post-image {
    width: 100%;
    margin-bottom: 25px;
}

.single-post-content .flexslider {
	margin-bottom: 25px;
}

.single-post-content h1 {
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 180%;
}

.single-post-content p {
    line-height: 22px;
    margin-bottom: 20px;
}

.comment-section {
    margin-bottom: 10px;
}

.comment-box {
    overflow: hidden;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #f0f0f0;
}

.comment-box img {
    float: left;
    padding: 8px;
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    max-width: 78px;
}

.comment-content {
    margin-left: 98px;
    padding-top: 8px;
}

.comment-content h6 {
    margin: 0;
    color: #3c3c3c;
    font-size: 14px;
    line-height: 22px;
}

.comment-content h6 span {
    display: inline-block;
    margin-left: 6px;
    color: #b8b8b8;
    font-size: 11px;
}

.comment-content p {
    color: #868686;
    font-weight: 400;
}

.comment-content a.reply-comment {
    display: inline-block;
    color: #ffffff;
    font-size: 11px;
    background: #0076f9;
    text-decoration: none;
    padding: 3px 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 3px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

.comment-content a.reply-comment:hover {
    opacity: 0.8;
}

.comment-section ul.children {
    margin-left: 98px;
}

/* Limit the number of  depth indents */
.comment-section .depth-3 ul.children {
	margin-left: 0;
}

.comment-form input[type="text"],
.comment-form textarea {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 17px 21px;
    font-size: 12px;
}

.comment-form textarea {
    height: 179px;
}

.comment-form input[type="submit"] {
    margin-top: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 12px;
    text-transform: inherit;   
}

.comment-respond {
    margin-bottom: 40px;
}

p.blog-info {
	margin-bottom: 5px;
	font-size: 85%;
}

hr.blog-info-divider {
	margin-top: 0;
}

hr.blog-content-divider {
	margin-bottom: 0;
}

.author-box {
	font-size: 90%;
	margin-bottom: 30px;
}

.author-info {
	border: 1px solid #dbdbdb;
	padding: 8px;
}

.author-box img {
	float: left;
	padding: 8px;
}

ul.author-buttons {
	float: left;
	border-left: 1px solid #dbdbdb;
}

.author-buttons li {
	float: left;
	border: 1px solid #dbdbdb;
	border-left: 0;
	border-bottom: 0;
	-webkit-transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;	
	transition: all 0.17s ease-in-out;
}

.author-buttons a {
	display: inline-block;
	padding: 10px;
}

.author-buttons .biography a, .author-buttons .biography .fa  {
	color: #fff;
}

.author-buttons .biography, .author-buttons li:hover {
	background-color: #0076f9;
}

.author-buttons li:hover a, .author-buttons li:hover .fa {
	color: #fff;
}

.author-buttons .fa {
	margin-right: 5px;
	font-size: 20px;
	color: #0076f9;
}

.author-buttons a {
	color: #3c3c3c;
}

.author-buttons a:hover {
	color: #fff;
	text-decoration: none;
}

.author-buttons span {
	position: relative;
	top: -2px;
}

.author-content {
	margin-left: 110px;
	padding-top: 8px;
}

.author-content h6 {
	margin: 0;
	color: #3c3c3c;
	font-size: 14px;
	line-height: 22px
}

/*-------------------------------------------------*/
/* =  Single project page
/*-------------------------------------------------*/

.single-project-content {
    margin-bottom: 40px;
}

.single-project-content img {
    width: 100%;
    margin-bottom: 20px;
}

.single-project-content h1 {
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 21px;
}

.single-project-content p {
    line-height: 22px;
    margin-bottom: 20px;
}

.latest-projects {
    margin-bottom: 40px;
}

div.portfolio-navigation {
	min-height: 50px;
	border: 0;
	margin-left: 15px;
	margin-right: 15px;
}

div.portfolio-navigation i {
	font-size: 20px;
}

.portfolio-navigation a {
	padding: 15px 0;
	border: 1px solid #dbdbdb;
	border-left: 0;
	font-size: 90%;
	color: #444;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	-webkit-transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;						
	transition: all 0.17s ease-in-out;
}

.portfolio-navigation a:hover {
	color: #444;
	background-color: #f4f4f4;
}

.portfolio-navigation a:hover i {
	color: #0079fa;
}

.portfolio-navigation a:first-child {
	border-left: 1px solid #dbdbdb;
}

.portfolio-nav i {
	margin: 0 10px;
	-webkit-transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;						
	transition: all 0.17s ease-in-out;						
}

.portfolio-nav span {
	position: relative;
	top: -2px;
}

/*-------------------------------------------------*/
/* =  services
/*-------------------------------------------------*/

.why-convertible-box h1 {
    margin-bottom: 10px;
    font-size: 26px;
}

.why-convertible-box h1 span {
    font-weight: 600;
}

.why-convertible-box h1 i {
    color: #0076f9;
    margin-left: 10px;
}

.why-convertible-box p {
    margin-bottom: 15px;
}

.why-convertible-box p a {
    color: #0076f9;
    font-weight: 700;
}

.tag-list li {
    display: inline-block;
    margin-right: 11px;
    margin-bottom: 15px;
}

.tag-list li a {
    display: inline-block;
    color: #0076f9;
    font-size: 12px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -o-border-radius: 9px;
    border: 1px solid #0076f9;
    padding: 5px 10px;
    background: #fff;
    text-decoration: none;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

.tag-list li a i {
    color: #0076f9;
    font-size: 17px;
    margin-right: 4px;
    vertical-align: middle;
}

.tag-list li a:hover {
    opacity: 0.7;
}

.upper-box {
    padding-bottom: 15px;
}

.drop-caps {
    /* padding-bottom: 25px; */
}

.drop-caps p span {
    font-weight: 700;
    color: #0076f9;
}

.drop-caps > span.icon, .drop-caps > a > span.icon {
    display: block;
    width: 70px;
    height: 70px;
    border: 1px solid #0076f9;
    background: #fff;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    text-align: center;
    line-height: 65px;
    font-size: 45px;	
    font-weight: 600;
    color: #0076f9;
}

.vers-sec {
    padding-bottom: 30px;
}

.vers-sec .services-post {
    margin-bottom: 0px;
    padding: 8px 0;
}

/*-------------------------------------------------*/
/* =  About page
/*-------------------------------------------------*/

.skills-progress {
    margin-bottom: 30px;
}

.skills-progress p {
    font-weight: 300;
    clear: both;
    margin-bottom: 6px;
}

.skills-progress p span {
    display: inline-block;
    color: #0076f9;
    float: right;
    font-weight: 400;
}

.meter { 
    height: 20px;  /* Can be anything */
    position: relative;
    background: #fff;
    border: 1px solid #dbdbdb;
    margin-bottom: 8px;
}

.meter > span {
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: #0076f9;
}

.staff-post {
    margin-bottom: 15px;
    /* height: 320px; */
}

.staff-post-content {
    background: #b4b4b4;
    padding: 20px 23px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    -o-border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    -o-border-bottom-left-radius: 4px;
}

.staff-post-content h5 {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.staff-post-content span {
    color: #fff;
    font-size: 13px;
    font-weight: 300;
}

.staff-post-gal {
    border: 1px solid #dbdbdb;
    position: relative;
    overflow: hidden;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

.staff-post:hover .staff-post-gal {
    padding-top: 47px;
}

.staff-post-gal img {
    width: 101%;
}

ul.staf-social {
    text-align: center;
    padding: 10px 10px 7px;
    border-bottom: 1px solid #dbdbdb;
    position: absolute;
    top: -100%;
    width: 100%;
    left: 0;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

.staff-post:hover .staf-social {
    top: 0;
}

.staf-social li {
    display: inline-block;
    margin-left: 3px;
}

.staf-social li:first-child {
    margin-left: 0px;
}

.staf-social li a {
    display: inline-block;
    width: 29px;
    height: 29px;
    border: 1px solid #0076f9;
    background: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

.staf-social li a i {
    font-size: 13px;
    text-align: center;
    color: #0076f9;
    line-height: 29px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

.staf-social li a:hover i {
    color: #ffffff;
}

.staf-social li a:hover {
    background: #0076f9;
}

ul.pricing-table {
    width: 100%;
    margin-bottom: 30px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out; 
}

ul.pricing-table:hover {
    box-shadow: 0 0 20px #c6c6c6;
}

ul.pricing-table li {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    border: 1px solid #dbdbdb;
    border-top: none;
    background: #fff;
}

ul.pricing-table li:first-child {
    padding: 35px 0;
    border: none;
    background: #b4b4b4;
}

ul.pricing-table li p {
	color: #555555;
	font-size: 15px;
	margin: 0;
}

ul.pricing-table li:first-child p {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

ul.pricing-table li:first-child span {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}

ul.pricing-table li a {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 20px;
    background: #b4b4b4;
    text-decoration: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;    
}

ul.pricing-table li a:hover {
    opacity: 0.8;    
}

.pricing-table.standard li {
    border: none;
    border-bottom: 1px solid #005ec7;
    background: #0076f9;
}

.pricing-table.standard li:first-child {
    background: #ffffff;
    border: 1px solid #dbdbdb;
}

.pricing-table.standard li:last-child {
    border-bottom: none;
}

.pricing-table.standard li p {
    color: #fff;
}

.pricing-table.standard li:first-child p,
.pricing-table.standard li:first-child span {
    color: #0076f9;
}

.pricing-table.standard li a {
    background: #ffffff;
    color: #0076f9;
}

/*-------------------------------------------------*/
/* =  Shop page
/*-------------------------------------------------*/

.shop-home {
    margin-top: 30px;
}

.shop-page .product-post {
    margin-bottom: 30px;
}

.top-bar {
    padding: 9px;
    border: 1px solid #dbdbdb;
    height: 50px;
    margin-bottom: 30px;
}

.top-bar .left-block {
    float: left;
}

.top-bar .right-block {
    float: right;
}

.select-filter label {
    display: inline-block;
    margin: 0 9px 0 6px;
    color: #535353;
    font-size: 13px;
    font-weight: 400;
}

.select-filter .select-box {
    display: inline-block;
    margin-right: 10px;
}

.select-filter select {
    height: 30px;
    width: 100px;
    border: 1px solid #dbdbdb;
    outline: none;
    font-size: 12px;
}

.top-bar .right-block span {
    color: #535353;
    font-size: 13px;
    margin-right: 9px;
}

.top-bar .right-block a {
   display: inline-block;
   width: 30px;
   height: 30px;
   text-align: center;
   background: #0076f9;
}

.top-bar .right-block i {
   font-size: 15px;
   color: #fff;
   line-height: 30px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.top-bar .right-block a:hover i {
   opacity: 0.7;
}



.product-post {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    overflow: hidden;
    margin-bottom: 15px;
}

.product-post:hover {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    overflow: hidden;
    margin-bottom: 15px;
}

.product-post img {
    width: 100%;
}

.product-post-gal {
    position: relative;
}

.product-post-gal span.price {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    color: #fff;
    padding: 11px 14px;
    background: #0076f9;
    font-size: 15px;
    font-weight: 700;
    opacity: 0.5;
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

.product-post:hover span {
    opacity: 1;
}

.product-post-content {
    text-align: center;
    padding: 14px 20px;
    border: 1px solid #dbdbdb;
    border-top: none;
    border-bottom-left-radius: 5px;
    -webkit-bottom-left-border-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -o-border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-bottom-right-border-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -o-border-bottom-right-radius: 5px;
}

ul.product-list {
    margin-top: 16px;
}

ul.product-list li {
    display: inline-block;
    margin-left: 6px;
}

ul.product-list li:first-child {
    margin-left: 0px;
}

ul.product-list li a {
    display: inline-block;
    width: 60px;
    height: 38px;
    border: 1px solid #dbdbdb;
    background: #fff;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

ul.product-list li a:hover {
    background: #0076f9;
}

ul.product-list li a i {
    font-size: 15px;
    color: #555555;
    text-align: center;
    line-height: 38px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

ul.product-list li a:hover i {
    color: #fff;
}

.shop-widget {
    margin-bottom: 20px;
    border: 1px solid #dedede;
}

.shop-widget h4 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 14px;
    background: #0076f9;
}

.category-shop-list > li {
    border-top: 1px solid #dedede;
}

.category-shop-list > li:first-child {
    border-top: 1px solid #dedede;
}

.category-shop-list li a.accordion-link {
    display: inline-block;
    width: 100%;
    color: #000;
    font-size: 13px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    padding: 6px 8px;
    position: relative;
    text-decoration: none;
}

.category-shop-list li a.accordion-link:hover,
.category-shop-list li a.accordion-link.active {
    color: #fff;
    background: #0076f9;
    opacity: 0.6;
}

.category-shop-list li a.accordion-link:after {
    position: absolute;
    content: '+';
    color: #7b7b7b;
    font-size: 15px;
    font-family: arial;
    font-weight: 700;
    right: 9px;
    top: 5px;
}

.category-shop-list li a.accordion-link:hover:after,
.category-shop-list li a.accordion-link.active:after {
    color: #fff;
}

.category-shop-list li a.accordion-link.active:after {
    content: '-';
    right: 13px;
}

.accordion-list-content {
    border-top: 1px solid #dedede;
    display: none;
}

.accordion-list-content li {
    margin: 5px 0;
    padding-left: 17px;
    position: relative;
}

.accordion-list-content li:before {
    position: absolute;
    content: '';
    width: 2px;
    height: 2px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -o-border-radius: 1px;
    background: #767676;
    top: 50%;
    left: 8px;
}

.accordion-list-content li a {
    display: inline-block;
    color: #767676;
    font-size: 13px;
}

ul.popular-product {
    padding: 0 10px;
}

ul.popular-product li {
    padding-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #dedede;
    overflow: hidden;
}

ul.popular-product li:first-child {
    border-top: none;
}

ul.popular-product li img {
    float: left;
    width: 50px;
}

ul.popular-product li div {
    margin-left: 60px;
}

ul.popular-product li h6 {
    color: #000;
    font-size: 13px;
    margin: 0;
    margin-top: 4px;
}

ul.popular-product li h6 a {
    color: #000;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

ul.popular-product li h6 a:hover {
    color: #0076f9;
}

ul.popular-product li span {
    color: #0076f9;
    font-size: 15px;
    font-weight: 700;
}

.price-range {
    padding: 18px 12px 12px;
    overflow: hidden;
}

#start-val,
#end-val {
    display: inline-block;
    border: none;
    float: left;
    padding: 0;
    color: #000;
    font-size: 13px;
    max-width: 50px;
}

#end-val {
   float: right;
   text-align: right;
}

/*-------------------------------------------------*/
/* =  Shortcodes
/*-------------------------------------------------*/

.text-section {
    margin-bottom: 20px;
}

.text-shortcode p {
    margin-bottom: 10px;
}

.text-image {
    overflow: hidden;
    margin-bottom: 20px;
}

.text-image.image-left img {
    float: left;
    margin-right: 20px;
}

.text-image.image-right img {
    float: right;
    margin-left: 20px;
}

/*-------------------------------------------------*/
/* =  Footer
/*-------------------------------------------------*/

footer {
    border-top: 1px solid #dbdbdb;
    background: #fff;
}

.up-footer {
    padding: 30px 30px 0;    
}

.footer-widgets, .toggle-widgets {
    margin-bottom: 30px;
}

.footer-widgets h4 {
    color: #007aff;
    margin-bottom: 16px;
}

.footer-widgets p, .toggle-widgets p {
    line-height: 22px;
    margin-bottom: 5px;
}

.toggle-widgets, .toggle-widgets p {
	color: #dbdbdb;
}

.toggle-widgets h4 {
	margin-bottom: 16px;
}
 
.toggle-widgets h1, .toggle-widgets h2, .toggle-widgets h3, .toggle-widgets h4, .toggle-widgets h5, .toggle-widgets h6 {
	color: #ffffff;
}

ul.flickr-list {
    overflow: hidden;
}

ul.flickr-list li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

ul.flickr-list li:nth-child(3n) {
    margin-right: 0px;
}

ul.flickr-list li a {
    display: inline-block;
    padding: 8px;
    border: 1px solid #dbdbdb;
    max-width: 76px;
    overflow: hidden;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

ul.flickr-list li a img {
    width: 100%;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

ul.flickr-list li a:hover {
    border: none;
}

ul.flickr-list li a:hover img {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
}

/* VC Flickr */

.wpb_flickr_widget {
    overflow: hidden;
}

.wpb_flickr_widget > div div {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* .wpb_flickr_widget > div div:nth-child(3n) {
    margin-right: 0px;
} */

.wpb_flickr_widget > div div a {
    display: inline-block;
    padding: 8px;
    border: 1px solid #dbdbdb;
    max-width: 76px;
    overflow: hidden;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.wpb_flickr_widget a img {
    width: 100%;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.wpb_flickr_widget a:hover {
    border: none;
}

.wpb_flickr_widget a:hover img {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
}

div#footer-contact span:before{
	display:none;
	content: '';
}

div#footer-contact br {
	display: none;
}

div#footer-contact .wpcf7-not-valid-tip {
	display: none;
}

div#footer-contact input[type="text"],
div#footer-contact input[type="email"] {
	display: block;
	width: 50%;
	float: left;
	border: 1px solid #dbdbdb;
	margin-bottom: -1px;
	color: #797979;
	font-size: 11px;
	padding: 10px;
	outline: none;
	border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-o-border-radius: 0px !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-o-box-shadow: none !important;
	transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-webkit-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;
}

div#footer-contact input[type="text"]:focus,
div#footer-contact input[type="email"]:focus,
div#footer-contact textarea:focus {
    border: 1px solid #007aff;
}

div#footer-contact textarea {
	float: left;
	width: 100%;
	border: 1px solid #dbdbdb;
	color: #797979;
	font-size: 11px;
	padding: 10px;
	height: 140px;
	margin: 0;
	outline: none;
	border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-o-border-radius: 0px !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-o-box-shadow: none !important;
	transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-webkit-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;
}

div#footer-contact button {
    position: relative;
    float: right;
    color: #007aff;
    font-size: 13px;
    text-transform: uppercase;
    padding: 12px;
    border: 1px solid #dbdbdb;
    border-right-color: transparent;
    border-bottom-color: transparent;
    background: #fff;
    margin-top: -47px;
    margin-right: 1px;
    z-index: 2;
    position: relative;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

div#footer-contact button  i {
    font-size: 18px;
    color: #007aff;
    margin-right: 10px;
}

div#footer-contact button:hover {
    opacity: 0.7;
}

.widget .current_page_item {
	font-weight: bold;
}
.widget .current_page_item a {
	color: #0079fa;
}

ul.contact-list li {
    margin-bottom: 15px;
}

.widget .contact-list li {
	border-bottom: 0;
	padding-bottom: 0;
}

ul.contact-list li a {
    position: relative;
    display: inline-block;
    color: #797979;
    font-size: 12px;
    padding: 6px 9px 6px 35px;
    text-decoration: none;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

ul.contact-list li a i {
    display: inline-block;
    width: 15px;
    font-size: 16px;
    color: #a8a8a8;
    margin-right: 13px;
	margin-left: -28px;
    vertical-align: middle;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

ul.contact-list li a:hover {
    border: 1px solid #007aff;
}

ul.contact-list li a:hover i {
    color: #007aff;
}

ul.contact-list li a:after {
    position: absolute;
    content: '';
    width: 28px;
    height: 100%;
    border-right: 1px solid #dbdbdb;
    top: 0;
    left: 0;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

ul.contact-list li a:hover:after {
    border-right: 1px solid #007aff;
}

.footer-line {
    padding: 10px;
    padding-left: 30px;
    background: #007aff;
    overflow: hidden;
}

.footer-line p {
	float: left;
	padding: 12px 0;
	color: #fff;
	font-weight: 400;
	margin: 0;
}

.footer-line a.go-top {
    display: inline-block;
    position: relative;
    float: right;
    width: 42px;
    height: 42px;
    background: #ffffff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

.footer-line a.go-top:hover {
    opacity: 0.7;
}

.footer-line a.go-top:before {
    font-family: 'FontAwesome';
    content: "\f106";
    position: absolute;
    font-size: 28px;
    width: 100%;
    color: #007aff;
    vertical-align: middle;
    text-align: center;
}

/*-------------------------------------------------*/
/* =  nouislider style (used in priccing range)
/*-------------------------------------------------*/

.noUi-target * {
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
-webkit-touch-callout: none;
    -ms-touch-action: none;
-webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        cursor: default;
}
.noUi-base {
    width: 100%;
    height: 6px;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
    border: 1px solid #dbdbdb;
    margin-bottom: 15px;
}
.noUi-handle {
    background: #EEE;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    margin: -6px 0 0 -6px;
    border: 1px solid #bdbdbd;
    background: #ebebeb url('../images/price-range.png') center center no-repeat;
}
.noUi-connect {
    background: Teal;
    background: #394f61 url('../images/price-range.png') center center no-repeat;
}
.noUi-background {
    background: #f5f5f5;
}
.noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    border-radius: inherit;
    background: #0076f9;
}
.noUi-origin-upper {
    background: inherit !important;
}
.noUi-z-index {
    z-index: 10;
}
.noUi-vertical {
    width: 40px;
    height: 100%;   }
.noUi-vertical .noUi-origin {
    bottom: 0;
    left: 0;
}
.noUi-vertical .noUi-handle  {
    margin: -23px 0 0 -3px;
}

.noUi-target[disabled] .noUi-base {
    background: #999;
}
.noUi-target[disabled] .noUi-connect {
    background: #BBB;
}
.noUi-state-tap .noUi-origin {
    -webkit-transition: left 0.3s, top 0.3s;
    transition: left 0.3s, top 0.3s;
}

/*-------------------------------------------------*/
/* 17  =  Edit Post/Page for Admins
/*-------------------------------------------------*/
.tmq-edit-link {
	position: fixed;
	top: 40%;
	left: 0;
	z-index: 10000;
}
.tmq-edit-link a{
	display: inline-block;
	width: 30px;
	height: 30px;
	font-size: 18px;
	line-height: 33px;
	text-align: center;
	background: #000;
	background: rgba(0,0,0,0.5);
	color: #fff;
}

/*-------------------------------------------------*/
/* 18  =  BreadCrumb
/*-------------------------------------------------*/
ul.breadcrumb {
	position: absolute;
	padding: 8px 15px;
	margin-top: -18px;
	top: 50%;
	right: 30px;
	background-color: transparent;
	border: 1px solid #ffffff;
	border-radius: 10px;
	font-size: 90%;
}

.breadcrumb li a, .breadcrumb li.active  {
	color: #ffffff;
}

.breadcrumb i.fa {
	margin-left: 10px;
	margin-right: 10px;
	font-size: 14px;
	color: #ffffff;
}

ul.brcr-top {
	top: 25px;
	right: 0;
	border: 0;
}

/*-------------------------------------------------*/
/* 19  =  Widgets
/*-------------------------------------------------*/
.widget select {
	width: 100%;
	padding: 5px;
}

#wp-calendar {
	width: 100%;
}

#wp-calendar caption {
	padding: 10px;
	text-align: left;
	background-color: #0077f9;
	color: #fff;
}

#wp-calendar thead {
	border-right: 1px solid #666;
	background: #666;
	background: -moz-linear-gradient(top, #666666 0%, #222222 100%);
	background: -webkit-gradient(top, bottom, color-stop(0%, #666666), color-stop(100%, #222222));
	background: -webkit-linear-gradient(top, #666666 0%, #222222 100%);
	background: -o-linear-gradient(top, #666666 0%, #222222 100%);
	background: -ms-linear-gradient(top, #666666 0%, #222222 100%);
	background: linear-gradient(to bottom, #666666 0%, #222222 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#222222', GradientType=1 );
}

#wp-calendar th {
	position: relative;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right: 1px #222 solid;
	border-bottom: 1px #222 solid;	
	text-align: center;
	font-weight: 300;
	color: #fff;
}

/* #wp-calendar th:before {
	content: " ";
	position: absolute;
	border-top: 1px dotted #888;
	height: 1px;
	width: 80%;
	width: calc(100% - 5px);
	left: 3px;
	top: 3px;
} */

#wp-calendar td {
	border: 1px solid #e2e2e2;
	text-align: center;
	line-height: 30px;
	padding: 0;
}

#wp-calendar tbody {
	background-color: #fff;
}

#wp-calendar tbody td a {
	color: #0077f9;
}

#wp-calendar tfoot {
	background: #e7e7e7;
	background: -moz-linear-gradient(top, #e7e7e7 0%, #efefef 100%);
	background: -webkit-gradient(top, bottom, color-stop(0%, #e7e7e7), color-stop(100%, #efefef));
	background: -webkit-linear-gradient(top, #e7e7e7 0%, #efefef 100%);
	background: -o-linear-gradient(top, #e7e7e7 0%, #efefef 100%);
	background: -ms-linear-gradient(top, #e7e7e7 0%, #efefef 100%);
	background: linear-gradient(to bottom, #e7e7e7 0%, #efefef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#efefef', GradientType=1 );
}

#wp-calendar tfoot tr {
	height: 50px;
	border: 1px solid #e2e2e2;
}

#wp-calendar tfoot td {
	border-right: 0px solid #fff;
	border-left: 0px solid #fff;
}

#wp-calendar tfoot a {
	color: #888;
}

.widget ul {
	padding: 0;
}

.widget ul > li:before {
	display: none;
}

.widget ul > li {
	border-bottom: 1px solid #eee;
	line-height: 1.4;
	padding-top: 7px;
	padding-bottom: 7px;
	color: #9a9a9a;
}

/* Fix for tabs in widget area */
.widget ul.tab-links > li {
	border-bottom: none;
	line-height: 1.4;
	padding-top: 0;
	padding-bottom: 0;
	color: inherit;
}

.widget ul > li > ul {
	margin-top: 7px;
	border-top: 1px solid #eee;
}

/* Second Level */
.widget ul > li > ul > li {
	border-bottom: 1px solid #eee;
	line-height: 1.4;
	padding-top: 7px;
	padding-bottom: 7px;
	color: #9a9a9a;
	padding-left: 20px;
}

.widget ul > li > ul > li:last-child {
	border: 0;
	padding-bottom: 0;
}

.widget ul li ul li a:before {
	position: absolute;
	margin-left: -17px;
	font-family: 'FontAwesome';
	font-size: 14px;
	content: "\f138";
	color: #666;
}

/* Third Level and Further */
.widget ul > li > ul > li ul > li {
	border: 0;
	padding-left: 20px;
}

.widget ul li ul li ul li a:before {
	position: absolute;
	margin-left: -14px;
	margin-top: 3px;	
	font-family: 'FontAwesome';
	font-size: 10px;
	content: "\f054";
	color: #9a9a9a;
}

.widget {
	font-size: 90%;
}

.widget_recent_comments ul .url {
	color: #0077f9;
	font-style: italic;
}

.widget_recent_entries ul li, .widget_rss ul li, .widget_recent_comments ul li {
	border: 0;
}

.widget_rss h4 img, .widget_rss h5 img  {
	display: none;
}

.widget_rss h4:before, .widget_rss h5:before {
	position: relative;
	margin-right: 5px;
	font-family: 'FontAwesome';
	font-size: 21px;
	content: "\f09e";
	color: #9a9a9a;	
}

.widget a {
	color: #9a9a9a;
}


.widget_rss h4 a, .widget_rss h5 a {
	color: #000;
}

.widget a:hover {
	color: #0077f9;
	text-decoration: none
}

/* Ajax Loader */

#page-content {
	min-height: 200px;
}

.widget_tmq-power-shortcodes .wpb_row {
	margin-bottom: 0;
}

.sidebar .widget_tmq-power-shortcodes {
	float: left;
	width: 100%;
	margin-bottom: 0;
}

/*-------------------------------------------------*/
/* 20  =  Visual Composer
/*-------------------------------------------------*/
body .wpb_row,
body .wpb_content_element, 
body ul.wpb_thumbnails-fluid > li, 
body .last_toggle_el_margin, 
body .wpb_button { 
	margin-bottom: 20px;
}

.wpb_gmaps_widget .wpb_map_wraper {
	padding: 0 !important;
}

.wpb_toggle {
	font-size: 100%;
	line-height: 25px;
}

.wpb_toggle_content {
	margin-top: 10px;
	margin-bottom: 10px;
}

.vc_pie_wrapper .vc_pie_chart_back {
	border-width: 15px;
}

.wpb_image_grid .wpb_image_grid_ul .isotope-item a {
	margin: 7px !important;
	border: 3px solid #ddd;
	-webkit-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	transition: border-color 0.3s;
}

.wpb_image_grid .wpb_image_grid_ul .isotope-item:hover a {
	border-color: #000;
}

/*-------------------------------------------------*/
/* 21  =  Icons
/*-------------------------------------------------*/
.awesome-icons {
	display: inline-block;
	float: left;
	width: 68px;
	height: 68px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	margin-right: 22px;
	background: #007aff;
}
.awesome-icons i {
	color: #fff;
	font-size: 30px;
	text-align: center;
	width: 100%;
	line-height: 68px;
	vertical-align: middle;
}

.awesome-icons.large {
	width: 100px;
	height: 100px;
}
.awesome-icons.large i {
	font-size: 50px;
	line-height: 100px;
}
.awesome-icons.small {
	width: 30px;
	height: 30px;
}
.awesome-icons.small i {
	font-size: 18px;
	line-height: 30px;
}

/*-------------------------------------------------*/
/* 22  =  Buttons
/*-------------------------------------------------*/
.tmq_button {
	display: inline-block;
	margin-top: 8px;
	color: #fdfdfd;
	font-size: 13px;
	font-weight: 700;
	padding: 13px 20px;
	background: #0076f9;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	border: 1px solid #0076f9;
}

.tmq_button:hover {
	opacity: 0.8;
	color: #fdfdfd;
	text-decoration: none;
}

.tmq_button.light {
	border: 1px solid #0076f9;
	color: #0076f9;
	background: #fdfdfd;
}

.tmq_button.light:hover {
	opacity: 0.8;
	color: #0076f9;
}

.tmq_button i {
	margin-right: 10px;
}

.tmq_button span {
	display: inline-block;
	position: relative;
	top: -2px;
}

.tmq_btn-small {
	padding: 7px 15px;
	font-size: 
}

.tmq_btn-small i {
	font-size: 18px;
}

.tmq_btn-small span {
	top: 0;
}

.tmq_btn-mini {
	padding: 4px 9px;
	font-size: 80%;
	font-weight: normal;
}

.tmq_btn-mini i {
	font-size: 15px;
}

.tmq_btn-mini span {
	top: 0;
}

.tmq_btn-large {
	font-size: 115%;
}

.tmq_btn-large i {
	font-size: 26px;
}

.tmq_button.green {
	background-color: #98db22;
	border-color: #98db22;
}

.tmq_button.orange {
	background-color: #E4A400;
	border-color: #E4A400;
}
/*-------------------------------------------------*/
/* 23  =  Review Posts
/*-------------------------------------------------*/
.review-box {
	border: 1px solid #dbdbdb;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	background-color: #f0f0f0;
}
.review-box .review-overall {
	float: left;
	width: 115px;
	height: 85px;
	margin: 20px;
	border: 1px solid #0077f9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
}
.review-box .review-overall-rating {
	padding: 3px;
	text-align: center;
	font-size: 85%;
	text-transform: uppercase;
	background-color: #0077f9;
	color: #fff;
}
.review-box .review-rate {
	margin-top: 4px;
	font-size: 250%;
	text-align: center;
	color: #0077f9;
}
.review-box .review-overview {
	margin: 20px;
	color: #444;
}
.review-box .review-overview h4 {
	margin-bottom: 5px;
	font-weight: bold;
}
.review-box .review-overview p {
	color: #444;
}

.review-ratings {
	margin-bottom: 30px;
	padding: 20px;
	border: 1px solid #dbdbdb;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	border-top: 0;
}
.review-ratings .skills-progress {
	margin-bottom: 0;
}
.review-ratings .skills-progress hr { 
	margin-top: 10px;
	margin-bottom: 10px;
}
.review-ratings h4 {
	margin-bottom: 5px;
	font-weight: bold;
}
.no-rating-review {
	display: block;
	height: 20px;
	margin: 0;
}

/* Blog List */
.list-rating {
	position: absolute;
	bottom: 0;
	right: 0;
	float: left;
	width: 65px;
	height: 65px;
	margin: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-webkit-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out; 	
	background-color: #fff;	
}

.list-rating:hover {
	box-shadow: 0 0 10px #999;
}

.list-rating .review-overall-rating {
	padding: 3px;
	text-align: center;
	font-size: 85%;
	text-transform: uppercase;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	background-color: #0077f9;
	color: #fff;
}
.list-rating .review-rate {
	margin-top: 4px;
	font-size: 150%;
	text-align: center;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	color: #0077f9;
}

/*-------------------------------------------------*/
/* 24  =  404 Not Found
/*-------------------------------------------------*/
.err-404-box {
	max-width: 505px;
	margin: 0 auto;
}
h1.head-404 {
	margin-top: 100px;
	margin-bottom: 10px;
	font-size: 100px;
	font-size: 410%;
	color: #0079f7;
}
p.text-404 {
	font-size: 140%;
	line-height: 140%;
	margin-bottom: 20px;
}

/*-------------------------------------------------*/
/* 25  =  Video Post Format
/*-------------------------------------------------*/

.video-format-image-container {
	position: relative; 
	margin-bottom: 20px;
	padding-bottom: 56.25%; 
	padding-top: 30px; 
	height: 0; 
	overflow: hidden; 
}

.video-format-image-container iframe,
.video-format-image-container object,
.video-format-image-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*-------------------------------------------------*/
/* 26  =  WP Required Styles
/*-------------------------------------------------*/

.alignleft {
	float: left;
	margin-right: 20px;
}

.alignright {
	float: right;
	margin-left: 20px;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.bypostauthor {
	min-height: 10px;
}

.gallery-caption {

}

.sticky {

}

.wp-caption-text {

}

.wp-caption {

}


/*-------------------------------------------------*/
/* 27  =  Ajax Loading!
/*-------------------------------------------------*/
.tmq_loading_container {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	z-index: 10000;
	background-color: #fff;
	/* background-color: rgba(255,255,255,0.7); */
}

.tmq_loading {
	position: absolute;
	top: 50%;
	margin-top: -50px;
	left: 50%;
	margin-left: -50px;
	width: 100px;
	height:100px;
}

.tmq_loading .wBall {
	position: absolute;
	width: 95px;
	height: 95px;
	opacity: 0;
	-moz-transform: rotate(225deg);
	-moz-animation: orbit 6.6s infinite;
	-webkit-transform: rotate(225deg);
	-webkit-animation: orbit 6.6s infinite;
	-ms-transform: rotate(225deg);
	-ms-animation: orbit 6.6s infinite;
	-o-transform: rotate(225deg);
	-o-animation: orbit 6.6s infinite;
	transform: rotate(225deg);
	animation: orbit 6.6s infinite;
}

.tmq_loading .wBall .wInnerBall{
	position: absolute;
	width: 13px;
	height: 13px;
	background: #54BEDE;
	left:0px;
	top:0px;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	-ms-border-radius: 13px;
	-o-border-radius: 13px;
	border-radius: 13px;
}

.tmq_loading #wBall_1 {
	-moz-animation-delay: 1.44s;
	-webkit-animation-delay: 1.44s;
	-ms-animation-delay: 1.44s;
	-o-animation-delay: 1.44s;
	animation-delay: 1.44s;
}

.tmq_loading #wBall_2 {
	-moz-animation-delay: 0.29s;
	-webkit-animation-delay: 0.29s;
	-ms-animation-delay: 0.29s;
	-o-animation-delay: 0.29s;
	animation-delay: 0.29s;
}

.tmq_loading #wBall_3 {
	-moz-animation-delay: 0.58s;
	-webkit-animation-delay: 0.58s;
	-ms-animation-delay: 0.58s;
	-o-animation-delay: 0.58s;
	animation-delay: 0.58s;
}

.tmq_loading #wBall_4 {
	-moz-animation-delay: 0.86s;
	-webkit-animation-delay: 0.86s;
	-ms-animation-delay: 0.86s;
	-o-animation-delay: 0.86s;
	animation-delay: 0.86s;
}

.tmq_loading #wBall_5 {
	-moz-animation-delay: 1.15s;
	-webkit-animation-delay: 1.15s;
	-ms-animation-delay: 1.15s;
	-o-animation-delay: 1.15s;
	animation-delay: 1.15s;
}

@-moz-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-moz-transform: rotate(180deg);
		-moz-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-moz-transform: rotate(300deg);
		-moz-animation-timing-function: linear;
		-moz-origin:0%;
	}

	30% {
		opacity: 1;
		-moz-transform:rotate(410deg);
		-moz-animation-timing-function: ease-in-out;
		-moz-origin:7%;
	}

	39% {
		opacity: 1;
		-moz-transform: rotate(645deg);
		-moz-animation-timing-function: linear;
		-moz-origin:30%;
	}

	70% {
		opacity: 1;
		-moz-transform: rotate(770deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:39%;
	}

	75% {
		opacity: 1;
		-moz-transform: rotate(900deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:70%;
	}

	76% {
		opacity: 0;
		-moz-transform:rotate(900deg);
	}

	100% {
		opacity: 0;
		-moz-transform: rotate(900deg);
	}
}

@-webkit-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-webkit-transform: rotate(180deg);
		-webkit-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-webkit-transform: rotate(300deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:0%;
	}

	30% {
		opacity: 1;
		-webkit-transform:rotate(410deg);
		-webkit-animation-timing-function: ease-in-out;
		-webkit-origin:7%;
	}

	39% {
		opacity: 1;
		-webkit-transform: rotate(645deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:30%;
	}

	70% {
		opacity: 1;
		-webkit-transform: rotate(770deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:39%;
	}

	75% {
		opacity: 1;
		-webkit-transform: rotate(900deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:70%;
	}

	76% {
		opacity: 0;
		-webkit-transform:rotate(900deg);
	}

	100% {
		opacity: 0;
		-webkit-transform: rotate(900deg);
	}
}

@-ms-keyframes orbit {
	0% {
	opacity: 1;
	z-index:99;
	-ms-transform: rotate(180deg);
	-ms-animation-timing-function: ease-out;
	}

	7% {
	opacity: 1;
	-ms-transform: rotate(300deg);
	-ms-animation-timing-function: linear;
	-ms-origin:0%;
	}

	30% {
	opacity: 1;
	-ms-transform:rotate(410deg);
	-ms-animation-timing-function: ease-in-out;
	-ms-origin:7%;
	}

	39% {
	opacity: 1;
	-ms-transform: rotate(645deg);
	-ms-animation-timing-function: linear;
	-ms-origin:30%;
	}

	70% {
	opacity: 1;
	-ms-transform: rotate(770deg);
	-ms-animation-timing-function: ease-out;
	-ms-origin:39%;
	}

	75% {
	opacity: 1;
	-ms-transform: rotate(900deg);
	-ms-animation-timing-function: ease-out;
	-ms-origin:70%;
	}

	76% {
	opacity: 0;
	-ms-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
	-ms-transform: rotate(900deg);
	}
}

@-o-keyframes orbit {
	0% {
	opacity: 1;
	z-index:99;
	-o-transform: rotate(180deg);
	-o-animation-timing-function: ease-out;
	}

	7% {
	opacity: 1;
	-o-transform: rotate(300deg);
	-o-animation-timing-function: linear;
	-o-origin:0%;
	}

	30% {
	opacity: 1;
	-o-transform:rotate(410deg);
	-o-animation-timing-function: ease-in-out;
	-o-origin:7%;
	}

	39% {
	opacity: 1;
	-o-transform: rotate(645deg);
	-o-animation-timing-function: linear;
	-o-origin:30%;
	}

	70% {
	opacity: 1;
	-o-transform: rotate(770deg);
	-o-animation-timing-function: ease-out;
	-o-origin:39%;
	}

	75% {
	opacity: 1;
	-o-transform: rotate(900deg);
	-o-animation-timing-function: ease-out;
	-o-origin:70%;
	}

	76% {
	opacity: 0;
	-o-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
	-o-transform: rotate(900deg);
	}
}

@keyframes orbit {
	0% {
	opacity: 1;
	z-index:99;
	transform: rotate(180deg);
	animation-timing-function: ease-out;
	}

	7% {
	opacity: 1;
	transform: rotate(300deg);
	animation-timing-function: linear;
	origin:0%;
	}

	30% {
	opacity: 1;
	transform:rotate(410deg);
	animation-timing-function: ease-in-out;
	origin:7%;
	}

	39% {
	opacity: 1;
	transform: rotate(645deg);
	animation-timing-function: linear;
	origin:30%;
	}

	70% {
	opacity: 1;
	transform: rotate(770deg);
	animation-timing-function: ease-out;
	origin:39%;
	}

	75% {
	opacity: 1;
	transform: rotate(900deg);
	animation-timing-function: ease-out;
	origin:70%;
	}

	76% {
	opacity: 0;
	transform:rotate(900deg);
	}

	100% {
	opacity: 0;
	transform: rotate(900deg);
	}
}

/*-------------------------------------------------*/
/* 28  =  Toggle Bar
/*-------------------------------------------------*/
.tmq_toggle_bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: auto;
	z-index: 0;
}
.tmq_toggle_bar .tmq_toggle_content {
	display: none;
	position: relative;
	width: 100%;
	height: auto;
	padding: 30px;
	background-color: #303030;
	color: #eee;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 20px #888;
	-moz-box-shadow: 0px 0px 20px #888;
	-o-box-shadow: 0px 0px 20px #888;
	box-shadow: 0px 0px 20px #888;
}
.tmq_toggle_bar .tmq_toggle_switch {
	position: relative;
	width: 40px;
	height: 40px;
	right: 0;
	top: 0;
	float: right;
	border-top: 50px solid #303030;
	border-left: 50px solid transparent;
	color: #eee;
	cursor: pointer;
}

.tmq_toggle_bar .tmq_toggle_close {
	display: none;
	position: fixed;
	top: 10px;
	right: 10px;
	color: #aaa;
	cursor: pointer;
}
.tmq_toggle_bar .tmq_toggle_close:hover {
	color: #f7f7f7;
}

.tmq_toggle_bar .tmq_toggle_switch:after{ 
	position: absolute;
	bottom: 25px;
	right: 10px;
	content: '\f107'; 
	font-family: 'FontAwesome';
	color: #fff;
}

.tmq_toggle_bar .tmq_toggle_switch.active:after{ 
	content: '\f106'; 
}


.widget ul.partner-list > li, .widget ul.posts-list > li {
	border-bottom: 0;
}


/*-------------------------------------------------*/
/* 29  =  Promo Box
/*-------------------------------------------------*/
.promo-box {
	display: table;
/* 	position: relative;
	float: left; */
	width: 100%;
	border: 1px solid #eaeaea;
	padding: 25px;
	background-color: #f5f5f5;
	margin: 25px auto;
	box-sizing: border-box;
}

.promo-text {
	display: table-cell;
	vertical-align: middle;
/* 	float: left;
	padding: 25px 25px 0 25px;
	max-width: 65%; */
	max-width: calc( 100% - 160px );
	box-sizing: border-box;
}

.promo-text h3 {
	margin-bottom: 0;
}

.promo-button {
/* 	max-width: 155px;
	padding-left: 15px;
	padding: 25px 25px 0 25px; */

	display: table-cell;
	vertical-align: middle;	
	min-width: 110px;
	padding-left: 15px;
	box-sizing: border-box;
 }

.promo-button .tmq_button {
	float: right !important;
	margin-top: 0;
	font-weight: normal;
	text-align: center;
}

.tp-caption a {
	background: none;
}

/* Under Navigation Sidebar Formatting */
.undernav-sidebar {
	background-color: #fff;
	background-color: rgba(255,255,255, 0.96);
	padding: 15px;
	border-right: 1px solid #eee;
}

.undernav-sidebar:empty {
	display: none;
}

.undernav-sidebar .widget-side:after {
	display: block;
	width: 100%;
	height: 1px;
	margin-top: 15px;
	margin-bottom: 15px;
	content: "";
	border-bottom: 1px solid #eee;
}

.undernav-sidebar .widget h4 {
	color: #0079fa;
}

/* Better Compatibility for bbPress */
.bbp-form .button {
	padding: initial;
	border-radius: initial;
	-moz-border-radius: initial;
	-webkit-border-radius: initial;
	height: initial;
	cursor: initial;
	color: initial !important;
	text-shadow: initial !important;
	font-size: initial;
	line-height: initial !important;
	background: none;
	font-family: initial;
	font-weight: normal !important;
	letter-spacing: initial;
}

/* WooCommerce */

.woocommerce .star-rating, .woocommerce-page .star-rating, .woocommerce .star-rating span:before {
	font-family: star;
}

.woocommerce .products a.button {
	padding: 5px 10px;
	border-radius: initial;
	-moz-border-radius: initial;
	-webkit-border-radius: initial;
	height: initial;
	cursor: initial;
	color: initial !important;
	text-shadow: initial !important;
	font-size: initial;
	line-height: initial !important;
	font-family: initial;
	font-weight: normal !important;
	letter-spacing: initial;
	
	display: inline-block;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border: 1px solid #0076f9;
	color: #0076f9 !important;
	padding: 8px 12px;
	background: #fff;
	font-size: 12px;
	transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-webkit-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;
	text-transform: lowercase;
	text-decoration: none;	
}

.woocommerce span.onsale, .woocommerce-page span.onsale {
	background: #0076f9;
}

.woocommerce-message:before, .woocommerce-info:before, .woocommerce-error:before {
	line-height: 0px !important;
	height: 2em !important;
}

.woocommerce .added_to_cart.wc-forward {
	width: 100%;
}

.woocommerce .woocommerce-message {
	margin-top: 15px !important;
}


.woocommerce .shipping_calculator {
	border-top: 1px solid #ccc;
	padding-top: 15px;
	margin-top: 10px;
}

.woocommerce .shipping_calculator h2 a {
	text-decoration: none;
	font-size: 18px;
}

.woocommerce .cross-sells {
	background: #fafafa;
	padding: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 20px;
}

.woocommerce .cross-sells h2 {
	font-size: 18px;
	margin-bottom: 15px;
}

.woocommerce .cart_totals h2 {
	font-size: 18px;
}

.woocommerce .addresses header {
	position: relative;
	width: initial;
	top: 0;
	left: 0;
	margin-left: 0;	
}

.woocommerce form input {
	border: 1px solid #999;
	padding: 5px;
}

.woocommerce dt {
	margin-top: 10px;
}