/* BEGIN tmq_css */
/* =========================================== 
    Unlimited Colors Setting                   
 =========================================== */

.header-logo {
	background-color: rgba(255,255,255, 0.9);
}
#background-container {
	background-color: #f0f2ea;
}
.woocommerce span.onsale, .woocommerce-page span.onsale, .services-post > a, .hover-item ul li a, .accord-content span.image-content, ul.tab-links li a:hover, ul.tab-links li a.active, .footer-line, .carousel-control.right:hover, .carousel-control.left:hover, .tp-rightarrow.default, .tp-leftarrow.default, .tp-bullets.simplebullets.round .bullet.selected:after, .tp-bullets.simplebullets.round .bullet:hover:after, .modern_medium_light, .meter > span, .staf-social li a:hover, .pricing-table.standard li, #wp-calendar caption, table thead, .flex-direction-nav .flex-next, .flex-direction-nav .flex-prev, .flex-control-paging li a:hover:before, .flex-control-paging li a.flex-active:before, .comment-content a.reply-comment, .wpcf7 input[type="submit"], .comment-form input[type="submit"], .author-buttons .biography, .author-buttons li:hover, .awesome-icons, .review-box .review-overall-rating, .list-rating .review-overall-rating, ul.page-numbers li a.active, ul.page-numbers li a:hover, ul.page-numbers li span, ul.filter li a.active, ul.filter li a:hover, .tmq_button, .tmq_loading .wBall .wInnerBall {
	background-color: #008a39;
	background-color: rgb(0,138,57);
}
.top-line p span i, ul.social-icons li a i, a.read-more, a.read-more i, .accord-title h5 i, ul.tab-links li a i, .footer-widgets h4, ul.contact-list li a:hover i, div#footer-contact button, div#footer-contact button i, li.drop > a span:after, .footer-line a.go-top:before, .skills-progress p span, .staf-social li a i, .pricing-table.standard li:first-child p, .pricing-table.standard li:first-child span, .pricing-table.standard li a, .drop-caps p span, .drop-caps > span.icon, blockquote p, .sidebar .tagcloud a:hover, .footer-widgets .tagcloud a:hover, .tabs-widget ul.tab-links li a:hover, .tabs-widget ul.tab-links li a.active, .widget_search button i, .tabs-widget .tab-content ul li h6 a:hover, .widget a:hover, .widget_recent_comments ul .url, #wp-calendar tbody td a, a, a:hover, a:focus, .author-buttons .fa, .tag-list li a, .tag-list li a i, .review-box .review-rate, .list-rating .review-rate, .portfolio-navigation a:hover i, h1.head-404, .work-post-content span, .tmq_button.light, .tmq-list ul.posts-list li h6 a:hover, .widget .current_page_item a, .undernav-sidebar .widget h4 {
	color: #008a39;
}
.woocommerce .products a.button  {
	color: #008a39 !important;
}
.work-post-content span {
	color: rgb(0,91,0);
}
.hover-box {
	background-color: #008a39;
	background-color: rgba(0,138,57, 0.8);
}
.carousel-control.right, .carousel-control.left {
	background-color: #008a39;
	background-color: rgba(0,138,57, 0.3);
}
.woocommerce .products a.button, .services-post > a:hover:after, .services-post > a:after, a.read-more, ul.contact-list li a:hover, div#footer-contact input[type="text"]:focus, div#footer-contact input[type="email"]:focus, div#footer-contact textarea:focus, ul.contact-list li a:hover:after, .tp-bullets.simplebullets.round .bullet, .tp-bullets.simplebullets.round .bullet:after, .staf-social li a, .drop-caps > span.icon, blockquote, .sidebar .tagcloud a:hover, .footer-widgets .tagcloud a:hover, .widget_search input[type="search"]:focus, .flex-control-paging li a, .flex-control-paging li a:before, .wpcf7 input[type="text"]:focus, .wpcf7 input[type="email"]:focus, .wpcf7 textarea:focus, .tag-list li a, .review-box .review-overall, .tmq_button, .tmq_button.light { 
	border-color: #008a39;
}
.main-menu > li > a, a.elemadded { 
	background-color: #fcfcfc;
	background-color: rgba(252,252,252, 0.9);
	color: #008000;
}
.main-menu > li > a:after { 
	background-color: #fcfcfc;
}
.content-sections, .flexslider { 
	background-color: #ffffff;
}
footer { 
	background-color: #ffffff;
}
.footer-line { 
	background-color: #008a39;
}
.tmq_toggle_bar .tmq_toggle_content { 
	background-color: #303030;
}
.tmq_toggle_bar .tmq_toggle_switch { 
	border-top-color: #303030;
}
.toggle-widgets, .toggle-widgets p { 
	color: #dbdbdb;
}
.toggle-widgets h1, .toggle-widgets h2, .toggle-widgets h3, .toggle-widgets h4, .toggle-widgets h5, .toggle-widgets h6 { 
	color: #ffffff;
}
.top-line { 
	background-color: #ffffff;
	background-color: rgba(255,255,255, 0.8);
}
.top-line p span, .top-line p span a.header-contact-link { 
	color: #253135;
}
ul.drop-down li a { 
	background-color: #ffffff;
	background-color: rgba(255,255,255, 0.9);
	color: #646464;
}
ul.drop-down li a:hover { 
	background-color: #ffffff;
	color: #000000;
}
.pricing-table.standard li { 
	border-color: rgb(0,91,0);
}
.undernav-sidebar { 
	background-color: rgba(255,255,255, 0.96);
}
/* Logo Positioning */
	.header-logo {
		padding-top: 30px;
		padding-bottom: 30px;
	}
/* Banner Area Dynamic Height Control With Padding */
	#page-banner {
		padding-top: 25px;
		padding-bottom: 25px;
	}
/* Set default font color for all paragraphs */
	p, ul:not([class]) li, ol:not([class]) li {
		color: #9a9a9a;
	}
/* Banner Area BG Setting */
	#page-banner {

					background: -moz-linear-gradient(left, #269544 0%, #5dc176 100%);
					background: -webkit-gradient(left top, right top, color-stop(0%, #269544), color-stop(100%, #5dc176));
					background: -webkit-linear-gradient(left, #269544 0%, #5dc176 100%);
					background: -o-linear-gradient(left, #269544 0%, #5dc176 100%);
					background: -ms-linear-gradient(left, #269544 0%, #5dc176 100%);
					background: linear-gradient(to right, #269544 0%, #5dc176 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#269544', endColorstr='#5dc176', GradientType=1 );
				
	}
/* Default Paragraph Font Setting */
	* {
		font-family: "open sans", "sans serif";
	}
	p, ul:not([class]) li, ol:not([class]) li {
		font-family: "open sans", "sans serif";
		font-size: 13px;
		line-height: 18px;
	}
/* Menu Font Setting */
	.main-menu > li > a, .main-menu > li > a span, ul.drop-down li a,  ul.drop-down li a span {
		font-family: "open sans", "sans serif";
	}
	.main-menu > li > a {
		font-size: ;
	}
	ul.drop-down li a {
		font-size: ;
	}
	ul.drop-down {
		width: 200px;
	}
	header {
		width: 220px;
	}
	.inner-content {
		padding-left: 220px;
	}
	.main-menu > li > a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	ul.drop-down li a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.main-menu > li > a {
		text-transform: uppercase;
	}
	ul.drop-down li a {
		text-transform: uppercase;
	}
/* Blog Typography Setting */
	.news-item h2 {
		font-size: ;
	}
	.single-post-content h1 {
		font-size: ;
	}
/* Banner Area Typography Setting */
	#page-banner h1, #page-banner span {
		font-size: ;
	}
	#page-banner p {
		font-size: ;
	}
	ul.breadcrumb {
		font-size: ;
	}
/* Breadcrumb text format */
	ul.breadcrumb {
		text-transform: lowercase
	}
/* Headings Font Setting */
	h1, h2, h3, h4, h5, h6 {
		font-family: "open sans", "sans serif";
	}
	h1 {
		font-size: ;
	}
	h2 {
		font-size: ;
	}
	h3 {
		font-size: ;
	}
	h4 {
		font-size: ;
	}
	h5 {
		font-size: ;
	}
	h6 {
		font-size: ;
	}
/* Turn off dots on bg image */
	#background-container:after {
		background: none;
	}

/* END tmq_css */
/* BEGIN tmq_usercss */
/*Nasconde editor front end */
.tmq-edit-link {
    display:none;
}
.header-logo {
    padding:0px 0px 10px 0px;
}

.zn_title {
    line-height:15px!important;
    font-size:13px!important;
    font-weight:bold!important;
}
.zn_thumb {
    margin-top:-10px!important;
}

.promo-text h3 {
    margin-bottom:0px!important;
}

/* NYX::DM 02.03.2015 */
@media (max-width: 991px) {
    #slider {
        padding-right:0px;
    }
    .tp-bullets, .tparrows {
        display:none;
    }
}

.main-menu > li > a {
    padding-top: 7px!important;
    padding-bottom: 7px!important;
}

	
.promo-box {
    margin:0px!important;
}

.footer-line p {
    text-align:center;
    font-size:10px;
    padding:0px!important;
    float:none!important;
}
.footer-line {
    
    text-align:center;
    padding:8px 8px 8px 8px!important;
}

ul.lista-link li a {
    color:#fff;
    text-decoration:none;
    font-size:11px;
}
.footer-link {
    
}
ul.lista-link li {
    float:left;
    padding:0px 6px 0px 6px;
    list-style: none!important;
}
ul.lista-link {
    list-style: none!important;
}
/* END tmq_usercss */
