/*-----------------------------------------------------------------------------------
	Theme Name: ODE
	Theme URI: http://preview.themique.com/vertikal
	Description: ODE Solenoid Valves
	Author URI: http://www.nyxsolutions.it
	Author: Nyx
	Developed by: Nyx Solutions
	Version: 1.0
	Tags: light, gray, white, one-column, two-columns, three-columns, four-columns, right-sidebar, responsive-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, post-formats, sticky-post, theme-options, translation-ready
	License: GNU General Public License version 3.0
	License URI: http://www.gnu.org/licenses/gpl-3.0.html
-----------------------------------------------------------------------------------*/
/*** STILI Z NEWS ***/
.zn_bar {
  height:36px!important;
}
.zn_divider {
  display: none;
}

/*** FINE STILI Z NEWS ***/

/**** DEVELOPER BY ****/
.developer {
  width: 100%;
  text-align: right;
}
.developer a {
  font-size: 10px;
  color:#bcbeb8;
}

.developer a:hover {
  text-decoration: none;
  color:#7b7c79
}
/**** FINE DEVELOPER BY ****/

/**** PULSANTI DOWNLOAD ALLEGATI ****/

.custom_product_tab_content a {
	display: block;
  padding:5px 0px 5px 12px;
  width: 100%;
  color:#269544;
  background-color: #fff;
  text-transform: uppercase;
  text-align: left;
  text-decoration: none;
  border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
  border:solid 1px #269544;
  font-weight: bold;
}
.custom_product_tab_content a:hover {
	background-color: #fdc334;
  text-decoration: none;
  color:#fff;
}
.custom_product_tab_content a i {
	margin:0px 15px 0px 0px;
}

/**** FINE PULSANTI DOWNLOAD ALLEGATI ****/

/*** STILI CATALOGO WOOCOMMERCE ***/

.categoria {
  border:solid 1px green;
  padding:5px 12px 5px 12px;
  display: block;
  background-color: #269544;
  margin:4px 0px 4px 0px;
}
.categoria img {  /* Nasconde immagine categoria */
  display: none;
}
.categoria a {  /* Nasconde immagine categoria */
  display: block;
  text-decoration: none;
  color:white;
}
.categoria a:hover, .categoria a:focus {
	color:lightgreen;
}
.counter {
  display: block;
  float:right;
  background-color: white;
  padding:0px 3px 0px 3px;
}
.counter h3 {
  margin-bottom: 5px!important;
}

/*** FINE STILI CATALOGO WOOCOMMERCE ***/

/****** MISC ******/

mark {
  background-color: transparent!important;
}

.woocommerce .woocommerce-info {
  border-top-color: #269544;
  margin-top:40px!important;
}

.woocommerce .woocommerce-error:before,
.woocommerce .woocommerce-info:before,
.woocommerce .woocommerce-message:before {
  top:1.7em;
}

.woocommerce .woocommerce-info:before {
  color:#269544;
}

ul.brcr-top {
	top: 90px;
}

ul.breadcrumb li {
	color:white;
  white-space:nowrap;
}

@media (min-width: 768px) {
	#page-banner > span {
		white-space: nowrap;
		overflow: hidden;
		display:block;
		text-overflow: ellipsis;
		letter-spacing:-1px;
	}
}

.wpb_single_image img {
  width:100%; /* IE FIX */
}

/****** FINE MISC ******/

/**** VOCI DI MENU ALBERO PRODOTTI SIDEBAR ****/

/* tutte le voci di menu */
ul.product-categories li a {
  white-space:nowrap;
  overflow:hidden;
  display:block;
  text-overflow:ellipsis;
}

/* voci di primo livello */
ul.product-categories li.cat-parent > a {
  display:block;
	background-color:#269544;
	color:white;
	padding:5px 10px;
}

/* categorie livelli successivi al primo */
ul.product-categories ul.children li.current-cat > a,
ul.product-categories ul.children li.current-cat > a:before {
	color:#269544;
	font-weight:bold;
}
ul.product-categories ul.children {
	margin-left:15px;
}

/**** FINE VOCI DI MENU ALBERO PRODOTTI SIDEBAR ****/


/**** LISTA ARTICOLI ****/

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
	display:block;
	width:100%;
	margin-bottom:0em;
  font-size:0.9em;
	padding-bottom:7px;
}

.woocommerce ul.products li.product:nth-child(odd) {
	background-color: #f5f5f4;
  border-top:solid 1px #eeeeee;
}
.woocommerce ul.products li.product h3 {
	font-size:1.1em;
	font-weight:bold;
	padding-bottom:8px;
  margin-bottom:8px;
  border-bottom:solid 1px #eeeeee;
  background-color: #fff;
}
.woocommerce ul.products li.product a .product-thumbnail-wrapper {
  width:100px;
  height:100px;
  display:inline-block;
  text-align:center;
  vertical-align:middle;
  float:left;
	margin:0 10px 10px 0;
}
.woocommerce ul.products li.product a .product-thumbnail-wrapper img {
  width:auto;
  height:auto;
  margin:auto;
	max-width:100px;
	max-height:100px;
}
.woocommerce ul.products li.product a {
	display: block;
  cursor:cell;
}
.woocommerce ul.products li.product label {
	margin:0;
  cursor:pointer;
}
.woocommerce ul.products li.product value {
}

/**** FINE LISTA ARTICOLI ****/

/**** WIDGET RICERCA ****/

.cerca select {
	-webkit-appearance: none;  
	-moz-appearance: none; 
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  
	border: 0 !important;  
	background: #269544 url(images/select-arrow.png) no-repeat right center;
	background-position: right 8px center;
	width: 100%; 
	text-indent: 0.01px; 
	text-overflow: ""; 
	color: #FFF;
	border-radius: 3px;
	padding: 5px;
	padding-right:20px;
  outline:none;
	margin-bottom:12px;
}

.cerca select::-ms-expand {
  display: none;
}

select:focus::-ms-value {
  background: none;
}

.cerca input[value='Cerca'] {
	background-color: #f8f8f7;
  padding:5px 22px 5px 22px;
}
.cerca input[value='Cerca']:hover {
	background-color: #dededb;
}

/**** FINE WIDGET RICERCA ****/


/**** MENU FOOTER ****/

.menu-service-menu-container {
  float:left;
  width:100%;
}
.menu-service-menu-container ul {
  float:left;
  list-style:none;
  position:relative;
  left:50%;
}
.menu-service-menu-container ul li {
  float:left;
  position:relative;
  right:50%;
  padding:0px 5px;
}
.menu-service-menu-container ul li a {
  color: #fff;
  font-size: 11px;
}

/**** MENU language ****/
#menu-language {
  float:right;
  list-style:none;
}
#menu-language li {
  float:left;
  padding:4px 5px 4px 5px;
}
#menu-language li a {
  background-repeat: no-repeat;
  height: 12px;
  width: 18px;
  display: block;
  font-size: 0px;
}
#menu-language li a[title='Italiano'] { /* Italiano */
  background-image: url(images/it.gif); 
}
#menu-language li a[title='English'] { /* Iinglese */
  background-image: url(images/en.gif);
}
#menu-language li a[title='Chinese'] { /* Cinese */
  background-image: url(images/cn.gif);
}
#menu-language li a[title='Français'] { /* Francese */
  background-image: url(images/fr.gif);
}
#menu-language li a[title='Deutsch'] { /* Tedesco */
  background-image: url(images/de.gif);
}
/**** FINE MENU language ****/

img.mfp-img {
  background-color: white;
}